<!-- Affichage de la liste des passagers -->
    <p><mat-slide-toggle [formControl]="displayPhotos" (click)="handleToogle()">afficher les photos</mat-slide-toggle></p>
<app-passager *ngFor="let passager of passagers" [displayPhoto]="displayPhotos.value" [passager]="passager" />

