.vol{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    cursor: pointer;
}

.aero{
    display: flex;
    gap: 30px;
    align-items: center;
}
.aero div{
    display: flex;
    align-items: center;
    gap: 10px;
}