<!-- Affichage d'un vol -->
<div class="vol" >
    <mat-icon>{{ type === 'decollages' ?'flight_takeoff' : 'flight_land' }}</mat-icon>
    <span>{{vol.icao}}</span>
    <span>{{vol.matricule}}</span>
    <div class="aero">
        <div>
            <span>{{vol.aeroportDepart}}</span>
            <mat-icon>arrow_right_alt</mat-icon>
            <span>{{vol.aeroportArrivee}}</span>
        </div>
        <div>
            <ng-container *ngIf="vol.compagnie === 'Air France';else second">
                <img src="../../../assets/Air France.png" width="200" height="50px" alt="Air France">
            </ng-container>
            <ng-template #second>
                <ng-container *ngIf="vol.compagnie === 'Transavia France';else third">
                    <img src="../../../assets/Transavia France.png" width="200" height="50px" alt="Transavia France">
                </ng-container>
            </ng-template>
            <ng-template #third>
                <img src="../../../assets/Air France Hop.png" width="200" height="50px" alt="Air France Hop">
            </ng-template>
        </div>
    </div>
    
</div>