.passager-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.passager-container h2{ margin: 0; padding: 0 5px;width: 100%; text-align: center;}
.classVol{
    width: 150px !important;
}
.passager-container > div{
    width: 210px;
}
.passager-container div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    
.poids{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 5px;
    padding: 5px 0;
    p{
        margin: 0;
    }
}
}
