<!-- Affichage d'un passager -->
<div class="passager-container">
    <img *ngIf="displayPhoto" [src]="passager.image" alt="Passager Image">
    <h2 
        mat-raised-button
        [matTooltip]="passager.email"
        matTooltipPosition="above"
    >
        {{passager.nom}}
    </h2>
    <div>
        <h2 appClassVol class="classVol" [classVol]="passager.classeVol" >{{passager.classeVol}}</h2>
        <div appPoidsVol [classVol]="passager.classeVol" [nbLuggage]="passager.nbBagagesSoute" class="poids">
            <mat-icon>work</mat-icon><p>x{{passager.nbBagagesSoute}}</p>
        </div>
    </div>
    
</div>