<div class="container">
  <div class="title"><h1>{{type}}</h1></div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres 
          (filterChange)="handleFilterChange($event)"
        ></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols [vols]="vols" [type]="type" (emitVol)="handleEmitVol($event)"></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <app-liste-passagers [passagers]="passagers"></app-liste-passagers>
    </div>
  </div>
</div>
